{% extends "dashboard.html" %}
{% block events %}
    <h2 class="mb-4 text-2xl font-bold">{{type}} Events</h2>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border rounded shadow">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left">Name</th>
          <th class="px-4 py-2 text-left">Category</th>
          <th class="px-4 py-2 text-left">Date</th>
          <th class="px-4 py-2 text-left">No. of Participants</th>
        </tr>
      </thead>
      <tbody>
        {% if events %}
        {% for event in events %}
            <tr class="border-t">
            <td class="px-4 py-2">{{ event.name }}</td>
            <td class="px-4 py-2">{{ event.category.name }}</td>
            <td class="px-4 py-2">{{ event.date }}</td>
            <td class="px-4 py-2">{{ event.participants.count }}</td>
            </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4" class="px-4 py-4 text-center text-gray-500">No events found.</td>
        </tr>
        {% endif %}

      </tbody>
    </table>
  </div>
{% endblock%}